
<% if (@post.allow_comments == "Approval"  && comment.validated == true) || (can? :manage, @post) || @post.allow_comments == "Always" %>
<article class="row">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <%= image_tag comment.user.avatar.url(:thumb) %>
      <figcaption class="text-center"><%= comment.user.try(:email) %></figcaption>
    </figure>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left <%= get_comment_color(comment) %>">
      <div class="panel-body">
        <% if can? :manage, comment %>


            <% unless @post.allow_comments == "Never" %>
                <%= form_tag(post_path+"/comments/#{comment.id}/toggle_visible", method: :patch) do %>
                    <input type="hidden" name="hide" value="<%= comment.id %>" >
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <% if comment.display == true %>
                        <p class="text-left"><i class="fa fa-eye"> Visible</i> <%= submit_tag "Hide", class:"btn btn-success" %></p>
                    <% else %>
                        <p class="text-left"><i class="fa fa-eye-slash"> Visible</i> <%= submit_tag "Show", class:"btn btn-success" %></p>
                    <% end %>
                <% end %>
            <% end %>

        <% if @post.allow_comments == "Approval" %>
                <%= form_tag(post_path+"/comments/#{comment.id}/toggle_valid", method: :patch) do %>
                    <input type="hidden" name="aprove" value="<%= comment.id %>" >
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <%	if comment.validated == false %>
                        <p class="text-left"><i class="fa fa-gavel"> Not validated !</i> <%= submit_tag "Ok", class:"btn btn-success" %></p>
                    <% else %>
                        <p class="text-left"><i class="fa fa-gavel"> Validated </i> <%= submit_tag "Undo", class:"btn btn-success" %></p>
                    <% end %>
                <% end %>
        <% end %>

        <% end %>

        <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i> <%= comment.user.try(:email) %> </div>
          <time class="comment-date" datetime="<%= comment.created_at %>">
            <i class="fa fa-clock-o"></i><%= comment.created_at %></time>
        </header>
        <div class="comment-post">
          <p class="text-left">

            <span>
            <%= form_tag(post_path+"/comments/#{comment.id}/like", method: :patch) do %>
                <input type="hidden" name="like" value="<%= comment.id %>" >
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <i class='fa fa-arrow-up'></i> <%= submit_tag "("+comment.ups.to_s+")", class:"btn btn-link" %>
            <% end %>
            </span>

            <span>
            <%= form_tag(post_path+"/comments/#{comment.id}/dislike", method: :patch) do %>
                <input type="hidden" name="dislike" value="<%= comment.id %>" >
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <i class='fa fa-arrow-down'></i> <%= submit_tag "("+comment.downs.to_s+")", class:"btn btn-link" %>
            <% end %>
            </span>
          </p>
          <p>
            <% if comment.display == true %>
                <%= comment.body %>
            <% else %>
                <p>Content hidden...</p>
            <% end %>
          </p>
        </div>
        <p class="text-right">
          <% if can? :manage, comment %>
          <%= link_to 'Destroy', [comment.post, comment],
                      method: :delete,
                      data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          <% end %>
          <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#<%= "hide#{comment.id}" %>">
            <i class="fa fa-reply"></i> Reply
          </button>

        <hr>
        <div id="<%= "hide#{comment.id}" %>" class="collapse">

          <%= form_for([@post, @post.comments.build]) do |f| %>

              <p class="form-group">
                <%= f.label :body %><br>
                <%= f.text_area :body, class: "form-control" %>
              </p>
              <input type="hidden" name="parent_id" value="<%= comment.id %>" />
              <p class="form-group">
                <%= f.submit value:"Respond", class: "btn btn-success" %>
              </p>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</article>
<% end %>