
<% if (@post.allow_comments == "Approval"  && comment.validated == true) || (can? :manage, @post) || @post.allow_comments == "Always" %>
<article class="row">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <%= image_tag comment.user.avatar.url(:thumb) %>
      <figcaption class="text-center"><%= comment.user.try(:email) %></figcaption>
    </figure>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <% if can? :manage, comment %>

            <% if comment.display == true %>
                <p class="text-left"><i class="fa fa-eye"> Visible</i> <%= link_to "hide", post_path+"/comments/#{comment.id}/toggle_visible", class:"btn btn-success" %></p>
            <% else %>
                <p class="text-left"><i class="fa fa-eye-slash"> Not-visible</i> <%= link_to "show", post_path+"/comments/#{comment.id}/toggle_visible", class:"btn btn-success" %></p>

            <% end %>

        <% if @post.allow_comments == "Approval" %>
            <%	if comment.validated == false %>
                <p><i class="fa fa-gavel"></i> Not validated ! </i><%= link_to "ok", post_path+"/comments/#{comment.id}/toggle_valid", class:"btn btn-success" %></p>
            <% end %>

            <%	if comment.validated == true %>
                <p><i class="fa fa-gavel"></i> Validated </i><%= link_to "undo", post_path+"/comments/#{comment.id}/toggle_valid", class:"btn btn-success" %></p>
            <% end %>
        <% end %>
        <% end %>
        <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i> <%= comment.user.try(:email) %> </div>
          <time class="comment-date" datetime="<%= comment.created_at %>">
            <i class="fa fa-clock-o"></i><%= comment.created_at %></time>
        </header>
        <div class="comment-post">
          <p class="text-left">
            <i class='fa fa-arrow-up'></i><%= link_to "(#{comment.ups})", post_path+"/comments/#{comment.id}/like"%>
            <i class='fa fa-arrow-down'></i><%= link_to "(#{comment.downs})", post_path+"/comments/#{comment.id}/dislike"%>
          </p>
          <p>
            <% if comment.display == true %>
                <%= comment.body %>
            <% else %>
                <p>Content hidden...</p>
            <% end %>
          </p>
        </div>
        <p class="text-right">
          <% if can? :manage, comment %>
          <%= link_to 'Destroy', [comment.post, comment],
                      method: :delete,
                      data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          <% end %>
          <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#<%= "hide#{comment.id}" %>">
            <i class="fa fa-reply"></i> Replay
          </button>
          <!-- Modal window -->

        <hr>
        <div id="<%= "hide#{comment.id}" %>" class="collapse">

          <%= form_for([@post, @post.comments.build]) do |f| %>

              <p class="form-group">
                <%= f.label :body %><br>
                <%= f.text_area :body, class: "form-control" %>
              </p>
              <input type="hidden" name="parent_id" value="<%= comment.id %>" />
              <p class="form-group">
                <%= f.submit value:"Respond", class: "btn btn-success" %>
              </p>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</article>
<% end %>