<article class="row">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
      <figcaption class="text-center"><%= comment.user.try(:email) %></figcaption>
    </figure>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i> <%= comment.user.try(:email) %> </div>
          <time class="comment-date" datetime="<%= comment.created_at %>">
            <i class="fa fa-clock-o"></i><%= comment.created_at %></time>
        </header>
        <div class="comment-post">

          <p>
            <%= comment.body %>
          </p>
        </div>
        <p class="text-right">
          <%= link_to 'Destroy', [comment.post, comment],
                      method: :delete,
                      data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#<%= "hide#{comment.id}" %>">
            <i class="fa fa-reply"></i> Replay
          </button>
          <!-- Modal window -->

        <hr>
        <div id="<%= "hide#{comment.id}" %>" class="collapse">
            <%= form_tag( "/posts/#{comment.post.id}/comments", method: "post") do %>
                    <p class="form-group">
                      <%= label_tag(:body, "Body") %><br>
                      <%= text_area_tag 'body', nil, class: "form-control" %>
                    </p>

                    <input type="hidden" name="parent_id" value="<%= comment.id %>" />

                    <%= submit_tag("Respond" ,{class: "btn btn-success"}) %>
            <% end %>
        </div>

      </div>
    </div>
  </div>
</article>