<article class="row">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
      <figcaption class="text-center"><%= comment.user.try(:email) %></figcaption>
    </figure>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i> <%= comment.user.try(:email) %> </div>
          <time class="comment-date" datetime="<%= comment.created_at %>">
            <i class="fa fa-clock-o"></i><%= comment.created_at %></time>
        </header>
        <div class="comment-post">
          <p>
            <%= comment.body %>
          </p>
        </div>
        <p class="text-right">
          <%= link_to 'Destroy', [comment.post, comment],
                      method: :delete,
                      data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-reply"></i> Replay
          </button>
          <!-- Modal window -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <%= form_for([@post, @post.comments.build]) do |f| %>
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Replay</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel panel-default">
                      <div class="panel-body"><b>Original: </b><%= comment.body %></div>
                    </div>
                    <p class="form-group">
                      <%= f.label :body %><br>
                      <%= f.text_area :body, class: "form-control" %>
                    </p>
                  </div>
                  <div class="modal-footer">

                    <input type="hidden" name="parent_id" value="<%= comment.id %>" />

                    <%= f.submit class: "btn btn-success" %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</article>