<%@tags.each do |tag| %>
  <%= link_to tag.name, filter_path(tag.name), :class=> 'filter-by-tag'%>
<% end %>

<br/>
<%= link_to 'Create new post', new_post_path, class: 'btn btn-success' %>
</br>
<div class="row">
<div class="col-lg-12">
    <h1 class="page-header">Newest photos<%= link_to ' (all photos)', newest_posts_posts_path %></h1>
  </div>
      <% @posts.first(5).each do |post| %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">

            <div class="thumbnail">
              <h4><%= post.title %></h4>
              <%= link_to (image_tag post.photo.url(:thumb)), post_path(post) %>
              <p><%= post.description %></p>
              <div><% if can? :update, post %><%= link_to 'Edit', edit_post_path(post) %><% end %></div>
              <div><% if can? :delete, post %><%= link_to 'Delete', post_path(post),
                                                          method: :delete,
                                                          data: { confirm: 'Are you sure?' } %><% end %>
              </div>
            </div>
          </div>
          <% end %>
  <div class="col-lg-12">
    <h1 class="page-header">Best photos <%= link_to ' (all photos)', best_posts_posts_path %></h1>
  </div>
      <% @best_posts.first(5).each do |post| %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">

            <div class="thumbnail">
              <h4><%= post.title %></h4>
              <%= link_to (image_tag post.photo.url(:thumb)), post_path(post) %>
              <p><%= post.description %></p>
              <div><% if can? :update, post %><%= link_to 'Edit', edit_post_path(post) %><% end %></div>
              <div><% if can? :delete, post %><%= link_to 'Delete', post_path(post),
                                                          method: :delete,
                                                          data: { confirm: 'Are you sure?' } %><% end %>
              </div>
            </div>
          </div>
          <% end %>
</div>