<h1>New Post</h1>
<%= form_for :post, url:posts_path do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, 'error') %> prohibited this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= f.label :tags_string %><br>
    <%= f.text_field :tags_string %>
  </p>
  
  <p>
    <%= f.label :album %><br>
    <%= f.select(:album_name, options_for_select(@albums.present? ? @albums.map {|album| [album.title, album.id]} :[['Default', '-1']])) %>
  </p>

  <p>
    <%= f.label :allow_comments %><br>
    <%= f.select(:allow_comments, options_for_select([['Always', 'Always'], ['After approval', 'Approval'], ['Not Allowed', 'Never']])) %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
