
<p>
  <%= rating_for @post, 'avg', star_path: '/images/ratyrate'%>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.user.email %>
</p>

<p>
  <h3><%= @post.title %></h3>
</p>

<p>
  <%= @post.description %>
</p>

<p>
  <%= link_to @post.photo.url, :target => "_blank" do %>
      <%= image_tag @post.photo.url(:medium) %>
  <% end %>
</p>
<% if can? :update, @post %>
    <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %></td>
<% end %>
<% if can? :delete, @post %>
    <td><%= link_to 'Delete', post_path(@post),
                    method: :delete,
                    data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
<% end %>

<br>
<br>
<p><b>Tags: </b>
  <%@post.tags.each do |tag| %>
      <%= link_to tag.name, filter_path(tag.name), :class=> 'filter-by-tag'%>
  <% end %>
</p>

<% unless @post.allow_comments == "Never" %>
<hr>
<h3>Add a comment:</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>

    <p class="form-group">
      <%= f.label :body %><br>
      <%= f.text_area :body, class: "form-control" %>
    </p>
    <p class="form-group">
      <%= f.submit value:"Post Comment", class: "btn btn-success" %>
    </p>
<% end %>
<hr>
<h3>Comments</h3>


<div class="container comment_cont">
  <div class="row">
    <div class="col-md-8">
      <section class="comment-list">
        <!-- First Comment -->

        <%= nested_comments @post.comments.arrange(:order => :created_at) %>
      </section>
    </div>
  </div>
</div>
<% end %>